.main-layout-changetheme-box {
    .theme-box {
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
    .left-theme, .right-theme {
        height: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: $--font-color2;
        padding: 0 1rem;
        span.img-box {
            display: inline-block;
            width: 4.4rem;
            height: 4.4rem;
            border: .1rem solid white;
            border-radius: 50%;
            img {
                width: 100%;
            }
            &:hover {
                border: .1rem solid $--font-hover-color;
                box-shadow: 0px .15rem .4rem 0px rgba(0, 0, 0, 0.3);
            }
        }
        span.active-theme {
            border: .1rem solid $--font-hover-color;
            box-shadow: 0px .15rem .4rem 0px rgba(0, 0, 0, 0.3);
        }

    }

    
}