.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: url('#{$main-assets-path-image}/login/bg.jpg') no-repeat center center;
  background-size: cover;

  .login-box {
    display: flex;
    width: 1300px;
    height: 720px;
    box-sizing: border-box;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 31px 0 rgba(24, 55, 105, .32);

    .pic-img {
      flex: 1;
      background: url('#{$main-assets-path-image}/login/login-con.jpg') no-repeat center center;
      background-size: cover;
    }

    .l-cont {
      width: 554px;
      padding: 86px 82px 0;
      background: #fff;
      box-sizing: border-box;

      .kd-title {
        line-height: 18px;
        font-family: Arial;
        color: #005bac;
        font-size: 18px;
        font-weight: bold;
      }

      .kd-wel {
        line-height: 42px;
        font-size: 16px;
        color: #727272;
      }

      .kd-cont {
        margin-bottom: 66px;
        color: #313131;
        font-size: 30px;
      }

      label {
        display: block;
        font-size: 16px;
        color: #727272;
      }

      .i-user:before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 12px;
        margin-top: -4px;
        background: url('#{$main-assets-path-image}/login/i-user.png') no-repeat center center;
        background-size: 100% 100%;
        vertical-align: middle;
      }

      .i-pass:before {
        content: '';
        display: inline-block;
        width: 14px;
        height: 16px;
        margin-right: 12px;
        margin-top: -4px;
        background: url('#{$main-assets-path-image}/login/i-pass.png') no-repeat center center;
        background-size: 100% 100%;
        vertical-align: middle;
      }

      .i-ipt {
        width: 100%;
        height: 50px;
        line-height: 48px;
        padding-left: 20px;
        margin-top: 10px;
        border: 1px solid #dcdfe6;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 18px;
      }

      .l-checkbox {
        margin-top: 8px;
      }

      .btn-area-sec {
        margin-top: 72px;
      }

      .long-btn-con {
        width: 268px;
      }

      .f-con-area+.f-con-area {
        margin-top: 32px;
      }
    }
  }

  .msg {
    height: 24px;
    line-height: 24px;
    color: red;
    font-size: 14px;
  }

  footer {
    width: 100%;
    padding-top: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
  }
}
