#app {
	// 主体区域
	.main-container {
		// height: 100%;
		// min-height: 100%;
		// transition: margin-left .28s;
		// margin-left: 13rem;
		// color: #CECDD5;
	}
	// 侧边栏
	.sidebar-container {
		transition: width 0.28s;
		width: 260px !important;
		height: 100%;
		position: fixed;
		font-size: 0px;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 1001;
		overflow: hidden;
		background: $color-main-menu-bg;
		.login-icon{
			display: none;
			margin: 0.5rem .4rem;
			width:38px;
			height:38px;
		}
		//reset element-ui css
		.horizontal-collapse-transition {
			transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
		}
		.scrollbar-wrapper {
			overflow-x: hidden!important;
			.kc-scrollbar__view {
				height: 100%;
			}
		}
		.is-horizontal {
			display: none;
		}
		a {
			display: inline-block;
			width: 100%;
			overflow: hidden;
		}
		.svg-icon {
			margin-right: 16px;
		}
		.kc-menu {
			border: none;
			height: 100%;
			width: 100% !important;
			background: $color-main-menu-bg;
		}
		.submenu-title-noDropdown{
			color: #CECDD5;
		}
		.kc-submenu>.kc-submenu__title,
		.kc-submenu .kc-menu-item {
			min-width: 180px !important;
			color: #CECDD5;
			background: $color-main-menu-bg;
			&:hover {
				color: #fff;
				background: $color-main-menu-hover;
			}
			&.is-active{
				color: #fff;
				background: $color-main-menu-hover;
			}
		}
	}
	.hideSidebar li.kc-menu-item.submenu-title-noDropdown span{
		height: 0;
		width: 0;
		overflow: hidden;
		visibility: hidden;
		display: inline-block;
	}
	.hideSidebar {
		.login-icon{
			display: block;
		}
		.logoLeft{
			display: none;
		}
		.kc-scrollbar__wrap{
			margin-right: 0!important;
		}
		.sidebar-container {
			width: 3rem !important;
		}
		.main-container {
			margin-left: 3rem;
		}
		.submenu-title-noDropdown {
			padding-left: .8rem !important;
			position: relative;
			.kc-tooltip {
				padding: 0 10px !important;
			}
		}
		.kc-submenu {
			overflow: hidden;
			&>.kc-submenu__title {
				padding-left: .8rem !important;
				.kc-submenu__icon-arrow {
					display: none;
				}
			}
		}
		.kc-menu--collapse {
			.kc-submenu {
				width: 3rem !important;
				&>.kc-submenu__title {
					&>span {
						height: 0;
						width: 0;
						overflow: hidden;
						visibility: hidden;
						display: inline-block;
					}
				}
			}
		}
	}
	.kc-menu--collapse .kc-menu .kc-submenu {
		min-width: 180px !important;
	}

	//适配移动端
	.mobile {
		.main-container {
			margin-left: 0px;
		}
		.sidebar-container {
			transition: transform .28s;
			width: 180px !important;
		}
		&.hideSidebar {
			.sidebar-container {
				transition-duration: 0.3s;
				transform: translate3d(-180px, 0, 0);
			}
		}
	}
	.withoutAnimation {
		.main-container,
		.sidebar-container {
			transition: none;
		}
	}
}
