@import "./image.scss";

// 不换行
@mixin noWrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// 背景图片
@mixin backgroundImage {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: initial;
}

// flex 放大缩小f
@mixin flexFlexible {
  flex-grow: 1;
  flex-shrink: 1;
}

// flex 不放大缩小
@mixin flexFixation {
  flex-grow: 0;
  flex-shrink: 0;
}
