$color-main-background: #EBEFF7 !default;
//sidebar
$color-main-menu-bg:#161824 !default;
$color-main-menu-hover:#0E1017 !default;
$subMenuBg:#1f2d3d !default;
$menuHover:#001528!default;
//个人中心浮窗图标颜色
$menu-icon-default: #DEE9FF !default;
$menu-icon-hover: #fff !default;
$main-assets-path: '../../../main/assets' !default;
$main-assets-path-image: $main-assets-path + '/images' !default;
$main-images-login-text: $main-assets-path + '/images/login-text-dark.png' !default;

$main-images-icon-login-bg: $main-assets-path + '/images/login/style2/icon-login-user.png' !default;
$main-images-login-bg: $main-assets-path + '/images/login/style2/login-user-bg.png' !default;
$main-images-icon-login-pwd-bg: $main-assets-path + '/images/login/style2/icon-login-password.png' !default;
$main-images-login-pwd-bg: $main-assets-path + '/images/login/style2/login-password-bg.png' !default;
$main-images-login-arrow-l: $main-assets-path + '/images/login/arrow-l.png' !default;
$main-images-login-arrow-r: $main-assets-path + '/images/login/arrow-r.png' !default;
$main-images-login-button: $main-assets-path + '/images/login/icon-login-button.png' !default;

$main-images-icon-logo-bottom-bg: $main-assets-path + '/images/login/style3/icon-logo-bottom-bg.png' !default;
$main-images-login-container-bg: $main-assets-path + '/images/login/style3/login-container-bg.png' !default;
$main-images-login-user: $main-assets-path + '/images/login/style3/login-user.png' !default;
$main-images-login-password: $main-assets-path + '/images/login/style3/login-password.png' !default;
$main-images-login-input-bg: $main-assets-path + '/images/login/style3/login-input-bg.png' !default;
$main-images-check-icon: $main-assets-path + '/images/login/style3/check-icon.png' !default;
$main-images-user-login-btn: $main-assets-path + '/images/login/style3/user-login-btn.png' !default;
// 大屏窗口背景色
$--dispatch-controller-screenConfig-bg-color: #1b1b1b;
$window-outer-background-color: #1b1b1b;
