/**
 * project: dispatch-ui-new_dev
 * User: bin.zhang/zhangbin_yq@kedacom.com
 * Date: 2020/8/19
 * Time: 16:47
 */
.dispatch-login-style-view2 {
	display: flex;
	flex: 1;
	height: 100%;
	align-items: center;
	justify-content: center;
	background-color: #000B39;
	.bgVideo {
		position: absolute;
		// top: 0;
		// left: 0;
		// right: 0;
		// bottom: 0;
		width: auto;
	}
	.dispatch-login-container {
		min-width: 830px;
		height: 830px;
		display: flex;
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
		padding: 28px;
		position: relative;
		z-index: 1;
	}
	.login-logo {
		height: 114px;
		display: flex;
		align-items: center;
		.login-logo-image {
			width: 110px;
			height: 114px;
		}
	}
	.login-main-title {
		height: 69px;
		font-size: 54px;
		font-family: hxbFont, MicrosoftYaHei-Bold, MicrosoftYaHei;
		font-weight: normal;
		color: rgba(0,239,206,1);
		line-height: 69px;
		background: linear-gradient(180deg, rgba(164,242,255,1) 0%, rgba(0,211,239,1) 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin-top: 15px;
		margin-bottom: 83px;
		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		user-select:none;
	}
	.login-form-item-custom {
		width: 420px;
		height: 56px;
		margin: 16px 0 32px 0;
		display: flex;
		align-items: center;
		.iconfont {
			display: inline-block;
			height: 24px;
			width: 20px;
			background-size: contain;
			flex-shrink: 0;
		}
		.icon-login-user,.icon-login-password {
			margin: 0 22px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
		.icon-login-user {
			background-image: url($main-images-icon-login-bg);
		}
		.icon-login-password {
			background-image: url($main-images-icon-login-pwd-bg);
		}
		.input-text {
			height: 100%;
			.kc-input__inner{
				background: none;
				outline: 0;
				border: none;
				width: 360px;
				height: 100%;
				outline: none;
				font-size: 20px;
				color: #FFF;
				padding: 0 10px 0 5px;
				&::placeholder {
					color: rgba(0, 242, 255, 0.5);
				}
			}
		}
		&.login-user-input {
			background: url($main-images-login-bg);
		}
		&.login-password-input {
			background: url($main-images-login-pwd-bg);
		}
	}
	.submit-button-wrapper {
		color: rgba(0, 242, 255, 1);
		.dpc-icheck-checkbox {
			display: inline-flex;
			align-items: center;
			input {
				display: none;
			}
		}
		.dpc-icheck-inner {
			height: 16px;
			line-height: 16px;
			font-size: 14px;
			user-select: none;
			cursor: pointer;
		}
		.dpc-icheck-media {
			width: 16px;
			height: 16px;
			border-radius: 3px;
			margin-right: 5px;
			border: 1px solid rgba(0,242,255,1);
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 2px;
			&::before {
				content: '';
				width: 8px;
				height: 8px;
				transform: scale(0);
				opacity: 0;
				background: rgba(0,242,255,1);
				transition: all .2s;
			}
		}
		.dpc-icheck-checkbox > input:checked + .dpc-icheck-media::before{
			transform: scale(1);
			opacity: 1;
		}
	}
	.login-button {
		cursor: pointer;
		position: relative;
		width: 420px;
		height: 66px;
		font-family: '微软雅黑';
		font-size: 28px;
		font-weight: bold;
		outline: none;
		border: none;
		margin-top: 24px;
		background-color: transparent !important;
		background-image: url($main-images-login-button) !important;
		&::before, &::after {
			content: "";
			position: absolute;
			top: 26px;
			width: 25px;
			height: 24px;
			background-repeat: no-repeat;
		}
		&::before {
			left: 110px;
			background-image: url($main-images-login-arrow-l);
		}
		&::after {
			transform: translate(5px, 0);
			right: 119px;
			background-image: url($main-images-login-arrow-r);
		}
		&.is-loading {
			&::before, &::after {
				display: none;
			}
		}
		&:hover {
			&::before {
				animation: arrowLeft -1s 1s linear infinite alternate;
			}
		}

		&:hover {
			&::after {
				animation: arrowRight -1s 1s linear infinite alternate;
			}
		}

		@keyframes arrowLeft {
			0% {
				transform: translate3d(0px, 0, 0);
			}
			100% {
				transform: translate3d(8px, 0, 0);
			}
		}

		@keyframes arrowRight {
			0% {
				transform: translate3d(8px, 0, 0);
			}
			100% {
				transform: translate3d(0px, 0, 0);
			}
		}
	}
}
