/**
 * project: dispatch-ui-new_dev
 * User: bin.zhang/zhangbin_yq@kedacom.com
 * Date: 2020/8/19
 * Time: 17:21
 */
.dispatch-login-style-view3 {
	display: flex;
	flex: 1;
	height: 100%;
	align-items: center;
	justify-content: center;
	background-color: #000B39;

	.bgVideo {
		position: absolute;
		// top: 0;
		// left: 0;
		// right: 0;
		// bottom: 0;
		width: auto;
	}
	.login-views-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		z-index: 1;
	}
	.login-logo {
		height: 114px;
		display: flex;
		align-items: center;
		margin-bottom: 57px;
		position: relative;
		.login-logo-image {
			width: 110px;
			height: 114px;
		}
		&::before {
			content: '';
			position: absolute;
			width: 288px;
			height: 150px;
			left: 50%;
			bottom: -82px;
			margin-left: -144px;
			background-image: url($main-images-icon-logo-bottom-bg);
		}
	}

	.dispatch-login-container {
		width: 853px;
		height: 479px;
		display: flex;
		box-sizing: border-box;
		position: relative;
		z-index: 1;
		background: url($main-images-login-container-bg);
		.login-form-wrapper {
			position: absolute;
			right: 86px;
			top: 108px;
		}
	}

	.login-main-title {
		position: absolute;
		top: 16px;
		left: 50%;
		height: 44px;
		line-height: 44px;
		text-align: center;
		white-space: nowrap;
		transform: translate(-50%, 0);
		font-size: 28px;
		font-family: Microsoft YaHei;
		font-weight: bold;
		color: rgba(67,165,214,1);
		// text-shadow: 0px 4px 8px rgba(6, 0, 1, 0.4);
		background: linear-gradient(0deg,rgba(179,248,255,1) 0%, rgba(0,185,255,1) 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		user-select:none;
	}

	.login-form-item-custom {
		width: 322px;
		height: 50px;
		margin: 16px 0 32px 0;
		display: flex;
		align-items: center;
		.iconfont {
			display: inline-block;
			height: 36px;
			width: 32px;
			background-size: contain;
			flex-shrink: 0;
		}
		.icon-login-user,.icon-login-password {
			margin: 0 10px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			position: relative;
			top: 3px;
		}
		.icon-login-user {
			background-image: url($main-images-login-user);
		}
		.icon-login-password {
			background-image: url($main-images-login-password);
		}
		.input-text {
			height: 100%;
			.kc-input__inner{
				background: none;
				outline: 0;
				border: none;
				padding: 0;
				width: 270px;
				height: 100%;
				border: none;
				background: none;
				outline: none;
				font-size: 20px;
				color: #FFF;
				padding: 0 10px 0 5px;
				&::placeholder {
					color: rgba(0, 242, 255, 0.5);
				}
			}
		}
		&.login-user-input, &.login-password-input {
			background: url($main-images-login-input-bg);
			background-repeat: no-repeat;
		}
	}
	.submit-button-wrapper {
		color: rgba(0, 242, 255, 1);
		.dpc-icheck-checkbox {
			display: inline-flex;
			align-items: center;
			input {
				display: none;
			}
		}
		.dpc-icheck-inner {
			height: 16px;
			line-height: 16px;
			font-size: 14px;
			user-select: none;
			cursor: pointer;
		}
		.dpc-icheck-media {
			width: 16px;
			height: 16px;
			border-radius: 3px;
			margin-right: 5px;
			border: 1px solid #267EC8;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 4px;
			background: #051550;
			&::before {
				content: '';
				width: 14px;
				height: 14px;
				transform: scale(0);
				opacity: 0;
				background: url($main-images-check-icon);
				background-repeat: no-repeat;
				transition: all .2s;
			}
		}
		.dpc-icheck-checkbox > input:checked + .dpc-icheck-media::before{
			transform: scale(1);
			opacity: 1;
		}
	}
	.login-button {
		position: relative;
		cursor: pointer;
		border: none;
		outline: none;
		margin-top: 24px;
		width: 322px;
		height: 66px;
		font-family: '微软雅黑';
		font-size: 28px;
		font-weight: bold;
		background-color: transparent !important;
		background-image: url($main-images-user-login-btn) !important;
		background-repeat: no-repeat;
		&::before, &::after {
			content: "";
			position: absolute;
			top: 26px;
			width: 25px;
			height: 24px;
			background-repeat: no-repeat;
		}
		&::before {
			left: 72px;
			background-image: url($main-images-login-arrow-l);
		}
		&::after {
			right: 76px;
			transform: translate3d(4px, 0, 0);
			background-image: url($main-images-login-arrow-r);
		}
		&.is-loading {
			&::before, &::after {
				display: none;
			}
		}
		&:hover {
			&::before {
				animation: arrowLeft 1s linear infinite alternate;
			}
		}

		&:hover {
			&::after {
				animation: arrowRight 1s linear infinite alternate;
			}
		}

		@keyframes arrowLeft {
			0% {
				transform: translate3d(0px, 0, 0);
			}
			100% {
				transform: translate3d(4px, 0, 0);
			}
		}

		@keyframes arrowRight {
			0% {
				transform: translate3d(4px, 0, 0);
			}
			100% {
				transform: translate3d(0px, 0, 0);
			}
		}
	}
}
